<script setup lang="ts">
import { useDark, useToggle } from '@vueuse/core'

const isDark = useDark({
  selector: 'body',
  attribute: 'class',
  valueDark: 'dark',
  valueLight: '',
});
const toggleDark = useToggle(isDark);

</script>

<template>
  <svg
      viewBox="-10 -10 370 190"
      class="day-night-switcher"
      @click="toggleDark()"
  >
    <svg:style type="text/css" xmlns:svg="http://www.w3.org/2000/svg">
      <![CDATA[
      .sun, .moon { transition: opacity 0.3s linear; cursor: pointer; }
      .moon { opacity: 0; }
      .dark .moon { opacity: 1; }
      .dark .sun { opacity: 0; }
      ]]>
    </svg:style>
    <g class="moon">
      <rect x="-5" y="-5" width="360" height="180" rx="90" ry="90" stroke-width="10" fill="#2b2b2b"></rect>

      <g fill="#FFF">
        <polygon points="180 33.25 181.58 39.42 187.75 41 181.58 42.58 180 48.75 178.42 42.58 172.25 41 178.42 39.42 180 33.25"></polygon>
        <path d="M202.33,86.9a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path>
        <path d="M177.59,152.21a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path>
        <polygon points="222 110.5 225.17 122.83 237.5 126 225.17 129.17 222 141.5 218.83 129.17 206.5 126 218.83 122.83 222 110.5"></polygon>
        <path d="M239,26.53a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path>
        <polygon points="271 59.25 272.58 65.42 278.75 67 272.58 68.58 271 74.75 269.42 68.58 263.25 67 269.42 65.42 271 59.25"></polygon>
        <path d="M278.53,136.38a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path>
        <path d="M312.18,34.45a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path>
        <path d="M328,107.68a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path>
      </g>

      <defs>
        <mask id="moonMask">
          <rect x="0" y="0" width="350" height="170" rx="86" ry="86" fill="#FFF" stroke="#000" stroke-width="0"></rect>
          <circle cx="122" cy="65" r="66"></circle>
        </mask>
      </defs>
      <g mask="url(#moonMask)">
        <circle cx="88" cy="85" r="66" fill="#FFF"></circle>
      </g>
    </g>
    <g class="sun">
      <rect x="-5" y="-5" width="360" height="180" rx="90" ry="90" stroke-width="10" fill="#85e8fe"></rect>

      <circle cx="261" cy="85" r="66" fill="#FEC100"></circle>

      <g fill="#FFF">
        <g>
          <rect x="119.7" y="54.92" width="47.15" height="10.37" rx="5.19" ry="5.19"></rect>
          <circle cx="125.4" cy="53.98" r="11.32"></circle>
          <circle cx="144.8" cy="45.91" r="15.61"></circle>
          <circle cx="160.8" cy="56.34" r="8.96"></circle>
        </g>
        <g>
          <rect x="50" y="129" width="92.34" height="10.37" rx="5.19" ry="5.19"></rect>
          <circle cx="134.53" cy="128.08" r="11.32"></circle>
          <circle cx="82.65" cy="112.46" r="24.66"></circle>
          <circle cx="114.35" cy="118.11" r="17.51"></circle>
          <circle cx="54.21" cy="128.19" r="11.32"></circle>
        </g>
      </g>
    </g>
  </svg>
</template>

<style scoped lang="scss">

.day-night-switcher {
  margin-top: -10rem;
  height: 50px;
  position: fixed;

  @media (max-width: 1023px) {
    margin-top: 0;
    width: calc(100vw - 64px);
    z-index: 1;
  }
  @media (min-width: 1024px) {
    width: calc(50% - 64px);
  }
  @media (min-width: 1300px) {
    max-width: 440px;
  }
}
</style>



