<script setup lang="ts">
import { ref } from 'vue'
import { useSearch } from '@/stores/search'

const state = useSearch()
const modelValue = ref('' as string)

const updateStore = (v: string) => state.change(v)


</script>

<template>
  <div class="search-container">
    <div class="search">
      <input
          type="text"
          class="search__input"
          id="input"
          placeholder="..."
          v-model="modelValue"
          @keyup="updateStore(modelValue)"
          autocomplete="off"
      >
      <label for="input" class="search__label">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12,2a8,8,0,0,0-8,8c0,5.4,7.05,11.5,7.35,11.76a1,1,0,0,0,1.3,0C13,21.5,20,15.4,20,10A8,8,0,0,0,12,2Zm0,17.65c-2.13-2-6-6.31-6-9.65a6,6,0,0,1,12,0C18,13.34,14.13,17.66,12,19.65ZM12,6a4,4,0,1,0,4,4A4,4,0,0,0,12,6Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,12Z" fill="#95959d"/>
        </svg>
      </label>
    </div>
  </div>
</template>

<style scoped lang="scss">

label {
  display: none;
}

.search-container {
  position: fixed;
  @media (max-width: 1023px) {
    margin-top: 7rem;
    width: calc(100vw - 64px);
    z-index: 1;
  }
  @media (min-width: 1024px) {
    width: calc(50% - 64px);
  }
  @media (min-width: 1300px) {
    max-width: 440px;
  }
}

.search {
  height: 40px;
  width: 75%;
  position: relative;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 100%;
  }

  &__input {
    height: 100%;
    min-width: 155px;
    width: 100%;
    background: var(--light-3);
    border: 1px solid var(--light-2);
    border-radius: 4px;
    color: var(--light-text);
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    transition: all 0.3s;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    padding: calc(0.5em - 1px) calc(0.75em - 1px) calc(0.5em - 1px) 2em;

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
    &:focus {
      outline: 1px dashed var(--outline-light);
      outline-offset: 3px;
      box-shadow: none;
    }
  }

  &__label {
    display: inline-block;
    width: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.6em;
  }
}

.dark {
  .search {

    &__input {
      background: var(--dark-3);
      border: 1px solid var(--dark-2);
      color: var(--dark-text);
      box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);

      &:focus {
        outline: 1px dashed var(--outline-dark);
      }
    }
  }
}

</style>
