<script setup lang="ts">
import { useDark } from '@vueuse/core'

const isDark = useDark()
</script>
<template>
  <div class="placeholder">
    <img
        :src="isDark ?
          'https://res.cloudinary.com/dq1c2xdfw/image/upload/v1674572600/search-5-dark_tvdv7r.svg' :
          'https://res.cloudinary.com/dq1c2xdfw/image/upload/v1675597049/search-5_awj0pe.svg'"
         alt="Placeholder"/>
  </div>
</template>

<style scoped lang="scss">

.placeholder {
  text-align: center;

  img {
    margin-top: 7rem;
    width: auto;
    max-height: 75vh;

    @media (min-width: 1024px) {
      width: 75%;
    }
  }
}
</style>
