<script setup lang="ts">

const props = defineProps({
  place: {
    type: Object,
    required: false,
    default: () => {
    },
  },
})
</script>

<template>
  <div class="place bg-pan-left">
    <h3 class="place__title">{{ props.place.display_name }}</h3>
  </div>

</template>

<style scoped lang="scss">

.place {
  background: rgba(2%, 84%, 62%, .5);
  padding: .5em;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s;

  @media (max-width: 1024px) {
    width: 75%;
  }

  &:hover {
    font-size: 1rem;
    background: rgba(2%, 84%, 62%, .65);
  }
}

</style>
