<script setup lang="ts">
import { ref, watch } from 'vue'


import DayNightSwitcher from '@/components/DayNightSwitcher.vue'
import SomePlace from '@/components/SomePlace.vue'
import SearchPlaceholder from '@/components/SearchPlaceholder.vue'
import SearchBar from '@/components/SearchBar.vue'

import SearchApiRepository from '@/repositories/search/SearchApiRepository'
import QueryParamsGenerateService from '@/services/QueryParamsGenerateService'

import type BasicItemModel from '@/models/BasicItemModel'

import { useSearch } from '@/stores/search'
import { debounce } from '@/directives/debounce'

const state = useSearch()

const items = ref([] as BasicItemModel[] | [])

let loadItems = debounce((search: string): void => {
  SearchApiRepository.fetchByInput(QueryParamsGenerateService.generate(search))
      .then( (res: BasicItemModel[]) => items.value = state.search ? res : [])
      .catch( (err: Error) => console.warn(err))
})


watch(
    () => state.search,
    () => (state.search.trim() === '') ? items.value = [] : loadItems(state.search)
)

</script>

<template>

  <header>
    <component :is="DayNightSwitcher" />

    <SearchBar />
  </header>

  <main>
    <div v-if="items.length" class="places">
      <SomePlace
          v-for="item of items"
          :key="item.place_id"
          :place="item"
      />
    </div>
    <div v-else>
      <SearchPlaceholder />
    </div>
  </main>

</template>

<style scoped lang="scss">

header, main {
  display: grid;
  align-items: center;
  overflow: auto;


  .places {
    display: flex;
    margin: 2rem 1rem 2rem 0;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 1024px) {
      align-items: center;
      margin: 7rem 1rem 5rem 0;
    }
  }
}

</style>
